@import "bootstrap";

body{
background-color: cadetblue;
}

#page{
    height: 100vh;
}

#nav-bar{
    height: 100vh;
}

#nav-bar{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav-item{

}