@import "bootstrap";
// ==============home====================
body{
background-color: cadetblue;
}

#page{
    height: 100vh;
}

// ==============header====================


#nav-bar{
    height: 100vh;
}

#nav-bar{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav-item{

}

// ==============login====================


.row{
    background-color: rgba(255, 255, 255, 0.562);
}


.card > .card-body > .btn > a {
    
    color: black;
}